@font-face {
  font-family: "Roboto";
  src: local('Roboto'),
  url('../fonts/Roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto'),
  url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}