* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #f5f3f4;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem 2rem;

  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  list-style-type: none;

  display: flex;
  gap: 3rem;

  font-size: 1rem;
  line-height: 1.5rem;

  margin-top: -0.25rem;
}

.nav-link {
  color: #12100cb3;
  text-decoration: none;
  transition: 300ms ease-in color;
  position: relative;
  flex-shrink: 0;
}

.nav-link:hover {
  color: #000;
  transition: 300ms ease-out color;
}

.nav-link-star {
  color: #ff8a00;
  font-size: 0.75rem;
  position: absolute;
  right: -12px;
  top: -14px;
}

.link-login {
  border-radius: 0.75rem;
  font-size: 0.875rem;

  cursor: pointer;

  padding: 0.38rem 1.44rem;

  outline: none;
  border: none;

  color: #f9f9f9;
  background: #12100c;

  text-decoration: none;

  margin-top: -0.25rem;
}

.burger {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.burger--close {
  margin-left: auto;
}

.burger-menu {
  position: fixed;
  right: 0;
  top: 0;

  height: 100%;
  min-width: 300px;

  padding: 1.6rem 2rem;

  margin-right: -100%;

  box-shadow: -3px 3px 4px 0px #00001a33;

  background-color: #fff;

  transition: 300ms ease-out all;
}

.burger-menu-nav {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.burger-menu-link {
  color: #12100cb3;
  text-decoration: none;
  transition: 300ms ease-in color;
}

.burger-menu-link:hover {
  color: #000;
  transition: 300ms ease-out color;
}

.burger-menu--active {
  margin-right: initial;
  transition: 300ms ease-in all;
}

.content {
  padding: 0 4.06rem;
  display: flex;
  flex-direction: column;

  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  gap: 8.12rem;
  margin: 2.1rem 0 0;
}

.hero-heading {
  color: #12100c;
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.5rem;
}

.hero-description {
  color: #12100cb3;
  font-size: 1.4375rem;
  line-height: 1.995rem;

  margin-top: 2.38rem;
}

.hero-controls {
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;

  gap: 1.5rem;
}

.hero-git {
  color: #12100cb3;
  font-size: 1rem;
  line-height: 1.5rem;
}

.hero-link {
  border-radius: 1rem;
  background-color: #ffae33;
  box-shadow: 0px 1px 1px 0px #0000001a;

  color: #12100c;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;

  display: block;
  padding: 0.69rem 2.87rem 0.75rem;
}

.hero-social {
  display: flex;
  gap: 1.81rem;

  margin-top: 1.12rem;
  margin-left: 0.5rem;
}

.hero-image {
  display: flex;
  transform: translate(8px, 13px);
}

.hero-image img {
  max-width: 100%;
}

.slogan {
  margin-top: 12rem;
  text-align: center;

  transform: translateY(-1px);
}

.slogan-heading {
  display: none;
}

.slogan-paragraph {
  font-size: 3.375rem;
  line-height: 3.9825rem;
  color: #999795;
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  font-weight: 400;
}

.slogan-paragraph:first-child,
.slogan-paragraph:last-child {
  font-weight: 700;
  color: #12100c;
  text-decoration-line: none;
}

.ci-cd {
  margin-top: 20.75rem;
  display: grid;
  grid-template-columns: minmax(41rem, 1fr) 1fr;
  align-items: center;
  gap: 4.56rem;
}

.ci-cd-heading {
  color: #12100c;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.ci-cd-description {
  margin-top: 0.5rem;
  color: #12100cb3;
  font-size: 1.5rem;
  line-height: 1.995rem;
}

.ci-cd-links {
  margin-top: 10.1rem;
}

.ci-cd-link {
  color: #12100c;
  border-radius: 0.65625rem;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
  padding: 0.52rem 1.46rem;
}

.ci-cd-link:first-child {
  background-color: #ffae33;
}

.ci-cd-link:last-child {
  background-color: #ffb0ae;
  margin-left: 0.9rem;
}

.ci-cd-example {
  display: flex;
  transform: translate(-5px, 5px);
}

.ci-cd-example img {
  max-width: 100%;
}

.remote {
  margin-top: 22rem;
}

.remote-heading {
  color: #12100c;
  text-align: center;
  font-size: 3.375rem;
  font-weight: 700;
}

.remote-image {
  display: flex;
  margin: 2rem auto 0;

  transform: translateX(-5px);
}

.remote-image img {
  max-width: 100%;
}

.remote-description {
  margin: 1.4rem auto 0;

  color: #12100cb3;
  font-size: 1.5rem;
  line-height: 1.995rem;

  text-align: center;

  font-weight: 400;

  max-width: 54.8125rem;
}

.remote-extensions {
  margin: 2.81rem auto 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.rewiews {
  margin-top: 10.5rem;
  overflow: hidden;
}

.rewiews-heading {
  text-align: center;
  color: #12100c;
  font-weight: 700;
  font-size: 3.375rem;
}

.rewiews-list {
  margin-top: 3.56rem;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  transition: 300ms all ease-in-out;
}

.rewiews-item {
  flex-shrink: 0;
  width: 24rem;
}

.rewiews-element {
  border-radius: 1rem;
  background: #fff;
  padding: 1.5rem 1.7rem 1.5rem 1.5rem;
}

.reiews-text {
  font-size: 1rem;
  font-weight: 400;
  color: #12100c;
  line-height: 1.5rem;
}

.reiews-text:not(:first-child) {
  margin-top: 0.5rem;
}

.rewiews-user {
  margin-top: 0.9rem;

  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.reiews-user-name {
  color: #12100c;
  font-weight: 700;
  font-size: 1rem;

  margin-top: 0.2rem;
}

.reiews-user-post {
  margin-top: 0.6rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #12100c;
}

.brands {
  margin-top: 6.2rem;
  display: flex;
  margin-left: 5.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.44rem;
}

.brands-heading {
  display: none;
}

.brands-pseudo-element {
  opacity: 0;
}

.start {
  margin-top: 11.06rem;
}

.start-heading {
  font-size: 3.375rem;
  font-weight: 700;
  color: #12100c;
  text-align: center;
}

.start-content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.63rem;
}

.start-connect,
.start-lanch {
  background: #fff;
  border-radius: 1.25rem;

  padding: 3.5rem;
}

.start-connect-heading,
.start-lanch-heading {
  text-align: center;
  font-size: 2rem;
  color: #12100c;
  font-weight: 700;
}

.start-connect-description,
.start-lanch-description {
  text-align: center;
  color: #12100cb3;
  font-size: 1.5rem;
  line-height: 1.995rem;
  margin-top: 0.5rem;
}

.start-connect-links {
  margin: 3.87rem auto 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 16.375rem;
}

.start-connect-link {
  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 0.75rem;

  box-shadow: 0px 1px 1px 0px #0000001a;
  background: #000;

  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;

  padding: 0.88rem 2.06rem;
}

.start-connect-link:first-child {
  background-color: #fc6d26;
}

.start-connect-link:last-child {
  background-color: #2684ff;
}

.start-connect-post-script {
  margin-top: 4rem;

  padding: 0 1.38rem;

  font-size: 1.5rem;
  color: #12100cb3;
  line-height: 1.995rem;

  text-align: center;
}

.start-connect-tags {
  margin-top: 0.31rem;

  display: flex;
  justify-content: center;
}

.start-connect-tag {
  font-size: 1.5rem;
  color: #12100cb3;

  border-radius: 0.75rem;
  background-color: #ffe4bc;

  padding: 0 1rem;
}

.start-lanch-examples {
  margin-top: 2rem;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.start-lanch-example {
  border-radius: 0.75rem;
  background-color: #f9f9f9;

  padding: 0.94rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-lanch-tehnology {
  display: flex;
  gap: 1rem;

  font-size: 1.25rem;
  color: #12100cb3;
}

.start-lanch-link {
  text-decoration: none;

  border-radius: 0.75rem;
  background: #12100c;
  box-shadow: 0px 1px 1px 0px #0000001a;

  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;

  padding: 0.44rem 0.75rem 0.56rem;
}

.footer {
  margin-top: 10rem;
  padding: 0 16.87rem 0 16.88rem;

  background-color: #f9f9f9;
}

.footer-nav {
  padding: 3rem 16rem;

  display: flex;
  justify-content: space-between;
}

.footer-heading {
  color: #12100c;
  font-size: 0.8125rem;
  font-weight: 700;
}

.footer-nav-list {
  margin-top: 0.44rem;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 6.25rem;
}

.footer-nav-link {
  text-decoration: none;

  font-size: 0.8125rem;
  color: #12100cb3;
}

.footer-nav-link:hover {
  color: #000;
}

.footer-separator {
  height: 1px;
  background: #ece7e5;
  border: none;
}

.footer-copyright {
  padding: 2.1rem 16rem 2.12rem;

  display: flex;
  justify-content: space-between;
}

.footer-copyright-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: #12100cb2;
  font-size: 0.8125rem;
}

.footer-copyright-social {
  display: flex;
  gap: 1rem;
}

.footer-copyright-link {
  text-decoration: none;
}

.cookies {
  background-color: #ece7e5;
}

.cookies-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.cookies-text {
  color: #12100cb3;
  font-size: 1rem;
}

.cookies-link {
  color: #12100c96;
  font-size: inherit;
}

.cookies-btn {
  border-radius: 0.5rem;
  background-color: #f9f9f9;

  padding: 0.35rem 1.8rem;

  outline: none;
  border: none;

  color: #12100cb3;
  font-size: 1rem;
}

.modal {
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  position: fixed;
}

.modal--active {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.555);
}

.modal-body {
  position: relative;
  z-index: 4;
  width: 300px;
  min-height: 300px;
  background: #fff;
}

.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 1rem;
}

.modal-heading-text {
  gap: 0.4rem;
  display: flex;
  font-size: 1.2rem;
}

.modal-switcher-trigger {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #00000096;
  font-size: inherit;
}

.modal-switcher-trigger--active {
  color: #000;
}

.modal-switcher-separator {
  user-select: none;
}

.modal-close {
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  background: inherit;

  font-size: 1.1rem;
}

.modal-content {
  padding: 0.5rem 1rem;
}

.modal-switcher-content {
  display: none;
  flex-direction: column;
}

.modal-switcher-content--active {
  display: flex;
}

.modal-input {
  padding: 0.3rem 0.5rem;
  border: 1px solid #000;
  border-radius: 4px;
}

.modal-button {
  padding: 0.3rem 0.5rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms ease-in;
}

.modal-button:hover {
  background-color: #fff;
  color: #000;
  transition: 300ms ease-out;
}

.modal-input:not(:last-child) {
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 375px) {
  .hero-controls {
    align-items: center;
    flex-direction: column;
  }

  .hero-image {
    width: 300px;
  }

  .ci-cd-links {
    margin-top: 5rem;
  }

  .slogan-paragraph {
    font-size: 2.5rem;
  }

  .footer-nav {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    flex-direction: column;
  }

  .hero-heading,
  .hero-description,
  .ci-cd-heading,
  .ci-cd-description {
    text-align: center;
  }
  .slogan,
  .ci-cd,
  .remote,
  .rewiews,
  .brands,
  .start,
  .footer {
    margin-top: 5rem;
  }

  .ci-cd-links {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .remote-extensions {
    flex-direction: column;
  }

  .cookies-btn {
    padding: 0.35rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0.25rem;
  }

  .brands {
    margin-left: 0;
  }

  .cookies {
    padding: 0.5rem 0.25rem;
  }

  .cookies-text {
    font-size: 0.75rem;
  }

  .start-content {
    grid-template-columns: 1fr;
  }

  .start-connect,
  .start-lanch {
    padding: 1.5rem;
  }

  .cookies-container {
    padding: 0.5rem 0.25rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    justify-content: space-between;
  }

  .nav-list {
    display: none;
  }

  .link-login {
    display: none;
  }

  .burger {
    display: block;
  }

  .hero-heading {
    font-size: 4.5rem;
  }

  .hero-link {
    font-size: 0.8rem;
    text-align: center;
  }

  .ci-cd {
    grid-template-columns: 1fr;
  }

  .ci-cd-example {
    display: none;
  }

  .brands-pseudo-element {
    display: none;
  }

  .start-lanch-tehnology {
    font-size: 1rem;
    align-items: center;
  }

  .start-lanch-link {
    font-size: 0.7rem;
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    padding: 0 1rem;
  }

  .footer-nav {
    padding: 3rem 0;
  }

  .footer-copyright {
    padding: 3rem 0;
  }
}
